@font-face {
  font-family: 'VCR OSD Mono';
  src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}
html {
    overflow: hidden
}
body {
    font-family: 'VCR OSD Mono';
    margin: 0px; overflow: hidden;
    padding: 0px;
}
.player-name {
    color: #14FF00;
    font-size: 21px;
    height: 100vh;
    display: flex;
    align-items: center;
}
.player-side-1 {
    justify-content: flex-end;
    padding-right: 15px;
}
.player-side-2 {

}