@font-face {
  font-family: 'VCR OSD Mono';
  src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}
html {
    overflow: hidden
}
body {
    font-family: 'VCR OSD Mono';
    margin: 0px; overflow: hidden;
    padding: 0px;
}
#fire {
    position: relative;
}
#fire img {
    height: 43px;
    width: 43px;
}
#player-streak {
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    width: 43px;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: 16px;
    left: 0;
}
.hide {
    display: none;
}
